<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Registration and Login System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <style>
      .navbar-brand,
      .nav-item {
        color: white;
        text-decoration: none;
        margin-right: 15px;
        cursor: pointer;
      }

      .nav-item:hover,
      .navbar-brand:hover {
        color: #1194ff !important;
      }

      .icon {
        cursor: pointer;
        color: #be0b11;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <a class="navbar-brand" th:href="@{/index}">GameGPT</a>

          <div class="d-flex">
            <a class="nav-item" aria-current="page" th:href="@{/played}"
              >Played</a
            >
            <a class="nav-item" aria-current="page" th:href="@{/liked}"
              >Liked</a
            >
            <a
              class="nav-item"
              aria-current="page"
              th:href="@{/recommendations}"
              >Recommendations</a
            >
            <a class="nav-item" aria-current="page" th:href="@{/stats}"
              >Stats</a
            >
            <a
              class="nav-item"
              aria-current="page"
              th:href="@{/users}"
              style="color: #1194ff"
              >Users</a
            >
            <a class="nav-item" aria-current="page" th:href="@{/logout}"
              >Logout</a
            >
          </div>
        </div>

        <form class="d-flex ml-auto">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
        </form>
      </div>
    </nav>
    <br /><br />
    <div class="container">
      <div class="container-fluid">
        <div class="px-lg-4">
          <div class="row py-4">
            <h3>List of Registered Users</h3>
          </div>
          <div class="row">
            <table class="table table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}">
                  <td th:text="${user.username}"></td>
                  <td th:text="${user.email}"></td>
                  <td th:text="${user.role.name.substring(5)}"></td>
                  <td>
                    <i
                      th:if="${user.role.name.equals('ROLE_USER')}"
                      class="fa fa-trash icon"
                      th:onclick="|window.location.href='/deleteUser/' + ${user.id}|"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
